*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mombasa.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 320px;
    height: 420px;
    display: flex;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    justify-content: center;
    min-height: 90vh;
    top: 50%;
    left: 50%;
}
.logo{
    background-color: white;
    justify-content: center;
    border-radius: 150px;
    align-items: center;
    display: center;
    height: 115px;
    width: 115px;
    margin-left: 25%;
}
.box{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),0 32px 64px -48px rgba(0, 0, 0, 0.5)
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom:10px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
.form-box .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: black;
    border-radius:5px;
    border: 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    padding: 0px 10px;   
}
.btn:hover{
    opacity: 0.82;
}
.submit{
     width: 100%;
}
.link{
    margin-bottom: 15px;
}
.logo{
   align-content: center;
}
.title{
    font-weight: 100;
}
.field .fa{
    margin-right: 10px;
}