*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   width: 100%;
   height: 100vh;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: lightskyblue;

}
nav{
    padding: 0 50px;
    width: 100%;   
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-one{
    background-color: #777;
    color: white;
    height: 40px;
    cursor: pointer;
}
.left >div + div{
    margin-left: 40px;
}
.portal a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    justify-content: space-between;
}

.right >div{
    margin-left: 40px;
}
.left >div:hover,
.right >div:hover{
    color: black;
    transition: all 0.5s;
}

span{
    margin-left: 5px;
}

.navbar-second{
background-color: #ADD8E6;
height: 130px;
position: sticky;
top: 0;
width: auto;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
display: flex;
}

.navbar-second h1{
text-align: left;
font-size: 40px;
float: right;
font-weight: bold;
margin: 35px;

}

.navbar-second ul{
    display: inline-flex;
    list-style: none;
    color: #777;  
}
.navbar-second ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;

}
.active .fa{
    text-decoration: none;
    margin-right: 10px;
}
section{
    width: 100%;
    height: 150vh;

}
.flex ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.active, .flex ul li:hover{
    background: white;
    border-radius: 35px;
}
.flex .fa{
    margin-right: 10px;
}
.sub-flex{
    display: none;
}
.flex ul li:hover .sub-flex{
    display: block;
    position: absolute;
    background: lightblue;
    margin-top: 15px;
    margin-left: -15px;
}
.flex ul li:hover .sub-flex ul{
    display: block;
    margin: 10px;
}
.flex ul li:hover .sub-flex ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.flex ul li:hover .sub-flex ul li:last-child{
    border-bottom: none;
}
.flex ul li:hover .sub-flex ul li a:hover{
    color: white;
}
.portal a:hover{
    color: white;
}

* {box-sizing:border-box}

.slider{
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 700px;
  justify-content: center;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.container1 {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
